.container {
    padding: 1rem;
    margin: 1rem;
}

.h2, h2 {
    padding: 1rem;
}

.addcontainer {
    padding: 0 1rem;
}
.addbutton {
    background-color: royalblue;
    font-size: 15px;
    border-radius: 8px;
    padding: 12px 30px;
}

.addbutton:hover {
    background-color: silver;
    color: white;
  }